@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
}

.navbar-brand{
    padding-left: 55px;
}

.nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

#navbarSupportedContent{
    padding: 10px;
}

.nav-item{
    padding: 15px;
}

.navbar-toggler{
   margin-right: 55px;
}

#free-consultation{
    padding-right: 55px;
}

.nav-item.active .nav-link {
    border-radius: 10px;
    background-color: #FFA800;
    padding: 10px 25px;
    text-transform: uppercase;
}

.nav-item a, .nav-item a:visited{
    color: black!important;
}

.nav-item a:hover{
    color: grey!important;
}

/* mobile size for hero section starts------------- */
@media screen and (max-width: 448px) {
    .navbar-brand{
        padding-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
     }
}

/* contact page section starts here----------------------
---------------------------------------------------------
--------------------------------------------------------- */
.contact {
    background-position: center center;
    background-size: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: visible;
    padding: 150px 50px;
}

.contact-container {
    padding-top: 80px;
    padding-bottom: 64px;
    max-width: 1200px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.contact-row {
    width: 100%;
    display: flex;
}

.contact-col {
    width: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding-right: 48px;
}

.contact-h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 3.5em;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 32px;
    min-width: 400px;
}

.contact-p {
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 32px;
}

.contact-form {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    color: black;
}

.contact-form-container {
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 19px;
    border-radius: 20px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    max-width: 600px;
    height: 800px;
    overflow: hidden;
}

.contact-form-container h2 {
    font-size: 2em;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

.contact-form-container label {
    padding-top: 30px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-size: 0.8em;
    font-weight: 600;
    padding: 5px 8px;
    color: black;
    text-decoration: none;
    background: none;
    box-sizing: none;
    border: none;
}

  /* larger desktop size for contact page section starts-------------- */
@media screen and (min-width: 1250px) {
    .contact-form {
        margin-right: 80px;
    }
}

/* tablet size for contact page section starts------------- */
@media screen and (max-width: 990px) {
    .contact {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .contact-row {
        width: 100%;
        min-width: auto;
        max-width: 100%;
        flex-basis: auto;
        flex-wrap: wrap;
    }
    
    .contact-col {
        width: 100%;
        min-width: auto;
        max-width: 100%;
        flex-basis: auto;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .contact-h1{
        text-align: center;
    }
    
    .contact-p {
        text-align: center;
    }
    
    .contact-form-container {
        min-width: auto;
        margin: 80px auto;
        width: 100%;
    }

}

/* extra breakpoint for contact page section starts------------- */
@media screen and (max-width: 700px) {
    .contact-h1 {
        font-size: 3em;
    }
    
    .contact-p {
        font-size: 1.1em;
    }
    
    .contact-form {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex: 1 1 0%;
        padding: 0px 20px;
    }
    
    .contact-form-container {
        max-width: 450px;
    }
    
    .contact-form-container h2 {
        font-size: 1.8em;
    }
    
    input[type=text], select, textarea {
        padding: 10px;
    }
    
    .button a{
        font-size: 0.8em;
    } 
}

/*mobile size for contact page section starts------------- */
@media screen and (max-width: 448px) {
    .contact-h1 {
        font-size: 2em;
    }
    
    .contact-p {
        font-size: 1em;
        line-height: 1.3;
    }
    
    .contact-form {
        padding: 0px 30px;
    }
    
    .contact-form-container h2 {
        font-size: 1.5em;
    }
    
    input[type=text], select, textarea {
        padding: 8px;
    }
}

/* social media icon starts here-------------- */
.icons {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 60%;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 100px;
}

.icon-1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* tablet size for icon section starts------------- */
@media screen and (max-width: 990px) {
    .icons {
        width: 35%;
        margin-top: 0px;
    }
    
    .icon-1 {
        padding-left: 20px;
        padding-right: 20px;
    }   
}

/* extra breakpoint for icon section starts------------- */
@media screen and (max-width: 700px) {
    .icons {
        width: 45%;
        margin-top: 0px;
    }
    
    .icon-1 {
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*mobile size for icon section starts------------- */
@media screen and (max-width: 560px) {
    .icons {
        width: 55%;
        margin-top: 0px;
    }
    
    .icon-1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}


/* footer section starts here-------
--------------------------------- */
.footer {
    width: 100%;
    height: 100px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin: auto;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-container p{
    padding: 15px 0px;
}
