@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200,300,400,500,600,700,800,900,1000&display=swap');

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
}

.navbar-brand{
    padding-left: 55px;
}

.nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

#navbarSupportedContent{
    padding: 10px;
}

.nav-item{
    padding: 15px;
}

.navbar-toggler{
   margin-right: 55px;
}

#free-consultation{
    padding-right: 55px;
}

.nav-item.active .nav-link {
    border-radius: 10px;
    background-color: #FFA800;
    padding: 10px 25px;
    text-transform: uppercase;
}

.nav-item a, .nav-item a:visited{
    color: black!important;
}

.nav-item a:hover{
    color: grey!important;
}

/* mobile size for hero section starts------------- */
@media screen and (max-width: 448px) {
    .navbar-brand{
        padding-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
     }
}

/* team page text section starts here----------------------
---------------------------------------------------------
--------------------------------------------------------- */
.about-us {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 10px;
}

.about-us-container {
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 25px;
    max-width: 1400px;
    width: 100%;
}

.about-us-row {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.about-us-col {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    /* debugging starts hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
    /* min-width: 600px; */
    letter-spacing: -0.02em;
}

.about-us h1{
    font-size: 3.9em;
    line-height: 1;
    font-weight: 900;
    text-align: left;
    color: rgb(0, 0, 0);
    max-width: 550px;
}

.about-us p {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: 500;
    padding-top: 50px;
    max-width: 500px;
}

.about-us-image img{
    display: flex;
    width: 80%;
    padding-right: 30px;
}


.about-us-container span{
    font-weight: 700;
}

/* larger desktop size for about-us starts-------------- */
@media screen and (min-width: 1250px) {
    .about-us {
        padding: 100px 20px;
    }
    
    .about-us-container {
        padding-left: 100px;
        max-width: 1500px;
    }
}

/* tablet size for about-us section starts------------- */
@media screen and (max-width: 990px) {
    .about-us {
        padding: 0px;
        padding-top: 50px;
    }
    
    .about-us-container {
        padding: 80px 10px;
    }
    
    .about-us-row {
        flex-direction: column-reverse;
    }
    
    .about-us h1 {
        position: relative;
        font-size: 3em;
        padding-top: 60px;
        margin: auto;
        text-align: center;
        padding: 50px;
        width: 90%;
    }

    .about-us p {
        font-size: 1.2em;
        line-height: 1.3;
        margin: auto;
        text-align: center;
        padding: 0px 10px 50px;
        width: 100%;
        max-width: 600px;
    }

    .about-us-image img{
        width: 55%;
        height: 55%;
        margin: auto;  
    }
}

/* mobile size for about us section starts------------- */
@media screen and (max-width: 448px) {
    .about-us {
        padding: 130px 10px;
    }
    
    .about-us-container {
        padding: 0px;
    }
    
    .about-us-row {
        flex-direction: column-reverse;
    }
    
    .about-us h1 {
        font-size: 2em;
        padding-top: 30px;
        margin: auto;
        text-align: center;
        padding: 50px;
        width: 90%;   
    }

    .about-us p {
        font-size: 1.2em;
        line-height: 1.3;
        margin: auto;
        text-align: center;
        max-width: 400px;
        padding: 0px 10px;
        width: 100%;
    }

    .about-us-image img{
        width: 80%;
        margin: auto;   
        padding-left: 30px; 
    }
}


/* our story -------------------------------------------
--------------------------------------------------------
--------------------------------------------------------*/
.our-story{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #33344C;
}

.our-story-container{
    margin: auto;
    padding: 150px 0px;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    color: white;
}

.our-story-container h1{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.2em;
    line-height: 1.3;
    font-weight: 800;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
    color: #FFA800;
    padding-bottom: 100px;
}

.our-story-container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
}

.our-story-row{
    display: flex;
}

.our-story-column{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 2000px;   

}

.our-story-image img{
    display: block;
    width: 30%;
    height: auto;
    margin: auto;
    padding-bottom: 50px;

} 

/* larger desktop size for text section starts-------------- */
@media screen and (min-width: 1250px) {
    .our-story-container{
        max-width: 1000px;
    }
}    

/* tablet size for text section starts------------- */
@media screen and (max-width: 990px) {
    .our-story-container{
        padding: 100px 0px;
    }
    
    .our-story-container h1{
        font-size: 2.2em;
        padding-bottom: 80px;
    }
    
    .our-story-container p{
        font-size: 1em;
    }
    
    .our-story-column{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .our-story-image img{
        padding-bottom: 40px;
    } 
}

/* mobile size for text section starts------------- */
@media screen and (max-width: 448px) {
    .our-story-row{
        display: block;
    }

    .our-story-image img{
        width: 15%;
        padding: 30px 0px;
    }
}


/* meet the team -----------------------------------------
------------------------------------------------------------
------------------------------------------------------------*/
.meet-the-team{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.meet-the-team-container{
    padding-top: 200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.meet-the-team-container h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.2em;
    line-height: 1.3;
    font-weight: 800;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
}

.meet-the-team-container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
}

.meet-the-team-container{
    padding-bottom: 100px;
}


/* larger desktop size for text section starts-------------- */
@media screen and (min-width: 1250px) {
    .meet-the-team-container{
        max-width: 1000px;
    }
}    

/* tablet size for text section starts------------- */
@media screen and (max-width: 990px) {
    .meet-the-team-container{
        padding-top: 150px;
    }
    
    .meet-the-team-container h1{
        font-size: 2.5em;
    }

    .meet-the-team-container p{
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .meet-the-team-container{
        padding-bottom: 60px;
    }
}

/* mobile size for text section starts------------- */
@media screen and (max-width: 448px) {
    .meet-the-team-container h1{
        font-size: 2em;
    }

    .meet-the-team-container p{
        font-size: 1em;
        padding: 10px 20px;
    }

    .meet-the-team-container{
        padding-bottom: 30px;
    }
}



/* team picture starts here---------------------------------
------------------------------------------------------------
------------------------------------------------------------ */
.team-picture{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
}

.column {
    width: 40%;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 10%;
}

.row{
    padding: 50px 0px;
}
  
.image {
    object-fit: cover;
    opacity: 1;
    display: block;
    width: 100%;
    padding: 50px 30px;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.team-text a{
    color: #000;
    font-weight: 800;
    font-size: 2vw;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 4px 10px;
}

.container:hover .image {
    opacity: 0.5;
}
  
.container:hover .middle {
    opacity: 1;
}

.box{
    justify-content: left;
    text-align: left;
    align-items: left;
    margin: 5px 10px;
}
  
.box h2{
  font-size: 3vw;
  font-weight: 900;
}

.box p{
    font-size: 2vw;
    justify-content: justify;
    text-align: left;
}

#title {
    color: grey;
    padding-bottom: 25px;
    justify-content: left;
    text-align: left;
    align-items: left;
}

/* larger desktop screen for team picture section---------------- */
@media screen and (min-width: 1250px) {

    .team-picture{
        padding: 0px 100px;
    }

    .column {
        width: 35%;
        margin: auto;
    }

    .team-text a{
        font-size: 1.8vw;
    }

    .box h2{
        font-size: 2.5vw;
        font-weight: 900;
    }
      
      .box p{
          font-size: 1.5vw;
    }
}

/* tablet screen for team picture section---------------- */
@media screen and (max-width: 990px) {
    .team-picture{
        padding: 0px 100px;
    }
    
    .column {
        width: 70%;
        padding-bottom: 100px;
    }
    
    .card {
        padding-bottom: 5%;
    }
    
    .row{
        display: flex;
        padding: 50px 0px ;
    }

    .image {
        padding: 25px 15px;
    }
      
    .middle {
        top:35%;
        left: 50%;
    }
    
    .title {
        color: grey;
    }
    
    .box{
        margin: 5px 10px;
    }
}

/* extra breakpoint for team picture section---------------- */
@media screen and (max-width: 700px) {
    .team-picture{
        padding: 0px 100px;
    }
    
    .column {
        width: 100%;
    }
    
    .card {
        padding-bottom: 5%;
    }
    
    .row{
        padding: 25px 0px ;
    }

    .box h2{
        font-size: 3.5vw;
        font-weight: 900;
      }
      
      .box p{
          font-size: 2.5vw;
      }
}

/* mobile screen for team picture section---------------- */
@media screen and (max-width: 448px) {
    .team-picture{
        padding: 0px 60px;
    }
    
    .column {
        width: 100%;
    }
    
    .row{
        display: flex;
        padding: 25px 0px ;
    }

    .image {
        padding: 20px 10px;
    }

    .team-text a{
        font-size: 4vw;
    }

    .box h2{
        font-size: 4.5vw;
    }
      
    .box p{
          font-size: 3.5vw;
    }
}

/* footer section starts here----------------------------
---------------------------------------------------------
--------------------------------------------------------- */
.footer {
    width: 100%;
    height: 100px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin: auto;
    justify-content:center;
    text-align: center;
    align-items: center;
    margin-top: 120px;
}

.footer-container p{
    padding: 15px 0px;
}